<html>
<head>

  <title>Welcome_Bookers</title>

</head>

<body>
  <h1>ようこそ<span class="Bookers">Bookers</span>へ！</h1>

  <p><span class="bookers">Bookers</span>では、さまざまな書籍に関するあたなの意見や</p>
  <p>印象を共有し交換することができます</p>

  <p>
  <a href="/books" class="button">start</a>
  </p>

</body>
</html>